
.stats {
    border-collapse: collapse;
}

.stats th {
    background-color: #f2f2f2;
}


.stats th, .stats td {
    border: 2px solid black;
    padding: 10px;
	text-align: center;   
    vertical-align: middle; 
}
